.page.resume {
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 14px;
    max-width: 32rem;
}

.resume h1, .resume h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(85, 85, 85);
    font-size: 20px;
}

.resume h2 {
    color: rgb(119, 119, 119);
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}


.resume strong {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: rgb(85, 85, 85);
}

.resume .experience p strong {
    font-size: 14px;
}

.resume a strong {
    color: #ac4142;
}

.resume em {
    font-family: 'Roboto', sans-serif;
    color: #999;
    font-size: 12px;
    font-style: normal;
}

.resume em.inline {
    font-size: 12px;
}

.resume p {
    margin: 0 0 10px 0;
}

.resume #post {
    text-align: left;
}

.resume section {
    margin: 10px 0;
}

@media (min-width: 38em) {
  .resume section.experience {
      display: flex;
      flex-wrap: wrap;
  }

  .resume section.experience .left-column {
    width: 25%;
  }

  .resume section.experience .right-column {
    width: 75%;
  }
}

.resume section.experience {
    margin: 20px 0 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.resume section.experience.last {
  border-bottom: none;
}

.resume section.experience .left-column.sub strong {
  font-size: 12px;
}

.resume section.projects strong, .resume section.proficiency strong {
    font-size: 14px;
    font-weight: normal;
}

.resume ul {
    margin-bottom: 0.25rem;
}

@media print {
    .masthead {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 1rem;
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }

    .page.resume {
        max-width: 100%;
    }

    @page {
        margin: 20px;
    }
}
