<script type='text/javascript'>
function calculateAge(){
 
 // birthday
 y = 1987; m = 8; d = 17;
 
 // current date 
 var date = new Date();
 ynow = date.getFullYear();
 dnow = date.getDate();
 mnow = date.getMonth();
 
t0 = y*12 + m - 1;        // total months for birthdate.
t = ynow*12 + mnow - 1;   // total months for Now.
dm = t - t0;              // delta months.    
if(dnow >= d) return [Math.floor(dm/12), (dm%12), dnow-d];
dm--; t--;
return [Math.floor(dm/12),(dm%12), 
        Math.floor((tm(ynow,mnow,dnow) - tm(Math.floor(t/12), (t%12)+1, d))/60/60/24)];	
 }
function tm(year , month , day){
	var date = new Date();
	date.setYear(year);
	date.setMonth(month);
	date.setDate(day);
	return date.getTime()/1000;
}

$('.age').ready(function() {
  var old = calculateAge();
  $('.age').text( "I am " + old[0] + "years " + old[1] + " months " + old[2] +" days old." );
});	

</script>