{% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}" />{% endif %}
{% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
<meta name="author" content="Anantha Kumaran" />
<meta name="google-site-verification" content="xQxaSmhj3mBfuDNK9W8TilEd3BdvtUKZldgeBdZYMyA" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Anantha Kumaran &mdash; {{ page.title }}</title>