{% if page.meta_keywords %}<meta name="keywords" content="{{ page.meta_keywords }}" />{% endif %}
{% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
<meta name="author" content="Anantha Kumaran" />
<meta name="google-site-verification" content="xQxaSmhj3mBfuDNK9W8TilEd3BdvtUKZldgeBdZYMyA" />
<link rel="alternate" type="application/rss+xml" title="Anantha Kumaran's Blog feed" href="http://ananthakumaran.github.com/atom.xml" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Anantha Kumaran &mdash; {{ page.title }}</title>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9923410-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
