<div id="rightBar" class="left borderLeft">
<div class="section">
<ul class="social fancy vcard">
<li class="fn" style="display:none">Anantha Kumaran</li>
<li title="My Code"><a rel="me" class="url" href="http://github.com/ananthakumaran"  target="_blank"><img src="/img/git.png" ></a></li>
<li title="Follow Me"><a rel="me" class="url" href="http://twitter.com/ananthakumaran" target="_blank"><img src="/img/twitter.png" ></a></li>
<li title="My Profile"><a rel="me" class="url" href="http://in.linkedin.com/in/ananthakumaran" target="_blank"><img src="/img/linkedin.png" ></a></li>
<li title="Want to be a Friend"><a rel="me" class="url" href="http://www.facebook.com/anantha.kumaran1" target="_blank"><img src="/img/facebook.png" ></a></li>
<li title="Reading List"><a rel="me" class="url" href="http://www.goodreads.com/ananthakumaran" target="_blank"><img src="/img/goodreads.png" ></a></li>
<li title="Subscribe this blog"><a href="http://feeds.feedburner.com/ananthakumaran" target="_blank"><img src="/img/rss.png" ></a></li>
<li></li>
<ul>
</div>
<div class="clear vcard"></div>
<div class="section">
<h2>Contact Info </h2>
<div >
<ul class="borderTopDotL vNavL">
<li class="fn">Anantha Kumaran</li>
<li class="tel borderBottomDot">Email : <span class="email">ananthakumaran@gmail.com</span></li>
</ul>
</div>
</div>
<div class="section">
<h2><a rel="me" class="url" href="http://twitter.com/ananthakumaran">Follow Me</a><img class="bird right" src="/img/bird_48.png" ></img></h2>
<div class="clear" ></div>
<div class="tweet">
</div>
</div>
</div>
