<div id="rightBar" class="left borderLeft">
<div class="section">
<ul class="social">
<li><a href="mailto:ananthakumaran@gmail.com"><img src="/img/email.png" ></a></li>
<li><a href="http://twitter.com/ananthakumaran"><img src="/img/twitter.png" ></a></li>
<li><a href="http://linkedin.com/ananthakumaran"><img src="/img/linkedin.png" ></a></li>
<li><a href="http://ananthakumaran.tumblr.com" ><img src="/img/tumblr.png" ></a></li>
<li><a href="http://facebook.com/ananth.kumaran1"><img src="/img/facebook.png" ></a></li>
<li><a href="http://feeds.feedburner.com/ananthakumaran"><img src="/img/rss.png" ></a></li>
<li></li>
<ul>
</div>
<div class="clear"></div>
<div class="section">
<h2>Links</h2>
<ul class="borderTopDotL vNavL">
<li ><a href="http://feedburner.google.com/fb/a/mailverify?uri=ananthakumaran&amp;loc=en_US">Subscribe Feed by Email</a></li>
<li class="borderBottomDot"><a href="/res/resume.pdf">Resume</a></li>
</ul>
</div>
<div class="section">
<h2>Contact Info </h2>
<div >
<ul class="borderTopDotL vNavL">
<li>Email: ananthakumaran@gmail.com</li>
<li>Twitter: <a href="http://twitter.com/ananthakumaran">ananthakumaran</a></li>
<li>Moblie : +91 9442024417</li>
<li class="borderBottomDot">Status:   Interested in full-time jobs</li>
</ul>
</div>
</div>
<div class="section">
<h2><a href="http://twitter.com/ananthakumaran">Follow Me</a><img class="bird right" src="/img/bird_48.png" ></img></h2>
<div class="clear" ></div>
<div class="tweet">
</div>
</div>
</div>