<div id="rightBar" class="left borderLeft">
<div class="section">
<h2>Links</h2>
<ul class="borderTopDotL vNavL">
<li ><a href="http://feeds.feedburner.com/ananthakumaran">rss</a></li>
<li class="borderBottomDot"><a href="/res/resume.pdf">resume</a></li>
</ul>
</div>
<div class="section">
<h2>Contact Info </h2>
<div >
<ul class="borderTopDotL vNavL">
<li>Email: ananthakumaran@gmail.com</li>
<li>Twitter: <a href="http://twitter.com/ananthakumaran">ananthakumaran</a></li>
<li>Moblie : +91 9442024417</li>
<li class="borderBottomDot">Status:   Interested in full-time jobs</li>
</ul>
</div>
</div>
<div class="section">
<h2><a href="http://twitter.com/ananthakumaran">Follow Me</a><img class="bird right" src="/img/bird_48.png" ></img></h2>
<div class="clear" ></div>
<div class="tweet">
</div>
</div>
</div>