<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
{% include header.html %}
{% include twitter.html %}
{% include activities.html %}
{% include age.html %}
{% include tipsy.html %}

</head>

<body>
{% include navigation.html %}
<div id="header" class="borderTop borderBottom">
{{ page.header}}
</div>
<div id="content" class="left">
 {{ content }}
</div>
{% include sidebar.html %}
{% include analytics.html %}
</body>
<html>
